<html>
    <% include head %>
    
<script type="text/javascript">
$(document).ready(()=> {
    if ($('.error h3').html() != "") {
    $('.error').addClass('animate')
    }
});
</script>
<body>
    <% include navbar %>
    <div class="container">
    <div class="title col-xs-12 text-center">
          <%= titleHeader %>
        </div>
        <div class="row">
        
            <div class="col-sm-12 text-center">
            <div class="col-xs-12 text-danger text-center error">
                <h3><%= message %></h3>
            </div>
                <form action="/registerProcess" method="post">
                    <div class="col-xs-12">
                        <input type="text" placeholder="Enter your name" name="name" />
                    </div>
                    <div class="col-xs-12">
                        <input type="email" placeholder="Enter your email" name="email" />
                    </div>
                    <div class="col-xs-12">
                        <input type="password" placeholder="Enter your password" name="password" />
                    </div>
                    <div class="col-xs-12">
                        <button class="btn btn-success" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>