body {
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: black;*/
  background: radial-gradient(circle at 50% 0%, rgb(230, 230, 230) 1%, rgb(0, 180, 200) 40%, rgb(0, 80, 150) 100%);
  height: 100vh;
}

.navbar, .nav, .navbar-header, .navbar-default, .active {
  border-radius: 0;
  border: none;
  background-color: rgba(0,0,0,.4);
  color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar-default .navbar-nav>li>a {
    color: #c7c6c6;
}

.navbar, .nav, .navbar-header, .navbar-default, .hover {
  color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.error {
  transition: all 2s;
  background-color: rgba(0,0,0,0);
}

.error.animate {
  background-color: red;
  color: white;
}


.title {
  color: black;
  padding: 20px;
  font-size: 50px;
  font-weight: 700;
  padding-top: 60px;
}
a {
  width: 100%;
  margin: 0;
  padding: 0;
}
.movie-title {
  color: black;
  padding: 20px;
  font-size: 50px;
  font-weight: 700;
}

.poster-container {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.col-xs-3 img {
  margin-top: 8px;
  width: auto;
  height:auto;
  max-width: 100%;
  min-height: 100%;
}

#search-form {
  margin-bottom: 20px;
}

input {
  max-width: 80%;
  background-color: rgb(200, 200, 200);
  margin: 10px;
}

.btn {
  background: radial-gradient(ellipse at 75% 0%, rgb(255, 160, 0) 0%, rgb(200, 50, 50) 60%, rgb(255, 80, 0) 100%);
}


.info-wrapper {
  background-color: rgba(150, 150, 150, .5);
}

.trailer {
  padding: 20px;
}

.fancybox-slide--video .fancybox-content {
	width  : 800px;
	height : 600px;
	max-width  : 80%;
	max-height : 80%;
}